/* CSS Reset (Eric Meyer) */
/*
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
*/
body {
    background: #FFFFFF;
    font: 12px Arial, Helvetica, sans-serif;
}

/************ Цвета и тени меню *************************/

.hmenu, .hmenu li ul, .dialog, .combobox ul, .group, .vmenu
{
    cursor: pointer;
    color: #222;/*#79FF00;*/
    text-shadow: 0 1px 1px rgba(0,0,0,.1);
    background: rgba(205, 236, 240, 0.7); /* Цвет фона меню невыбранного */
    background: linear-gradient(to top, rgba(205, 236, 240, 0.7), rgba(255, 255, 255, 0.7));

    box-shadow: 2px 2px 7px #888;
    /*-moz-box-shadow: 5px 5px 25px #000;
    -webkit-box-shadow: 5px 5px 25px #000;*/

}

.hmenu li:hover, .vmenu div:hover
{
    background: rgba(160, 231, 255, 0.6); /* Цвет фона меню выбранного */
    /*box-shadow: 0px 0px 25px #FFF;*/
    /*background: linear-gradient(to top, #85B4A5, #CBF5F3);*/
}

.hmenu li.msep
{
    background: rgba(200, 200, 200, 1); /* Цвет фона меню выбранного */ 
}

div.checked, div.checked:hover
{
    background: rgba(64, 195, 240, 0.6); /* Цвет фона меню выбранного */ 
}

#blocker
{
    background: rgba(255, 255, 255, 0.5);
}

/************** Параметры групп *******************/

.group {
    /*padding: .4em 1em .4em;*/
    display: block;
	border-radius: 10px;
    font-family: sans-serif;
    font-size: 12pt;
    margin: 5px;
}

/************** Параметры вертикального меню ********************/

.vmenu {
    position: absolute;
    list-style-type: none;
	z-index: 10;
    display: block;
	top: 60px;
    padding: 2px;
    border-radius: 15px;
}

.vmenu div {
    margin: 5px;
    padding: 0px;
    border-radius: 10px;
}

/************** Параметры горизонтального меню ********************/

.hmenu { /* Горизонтальное меню */
    position: absolute;
	height: 30px;
    padding: .4em 1em .0em;
    border-radius: 15px;
    font-family: sans-serif;
    font-size: 12pt;
    margin: 5px;
    z-index: 10;
    display: block;
    /*-webkit-padding-start: 0px;*/
}

.hmenu li /* Элемент горизонтального меню */
{ 
    position: relative;
    list-style-type: none;
	/*outline: 1px solid #2A5106;*/
	padding: .1em 1em .13em;
    /*background: #0F0FFF; */
	float: left;
}

.hmenu li:hover { 
	position: relative; /* Это чтоб подменю стали вертикальными */
    /*border-radius: 7px;*/
    /*color: #000000;*/
           
   
    border-radius: 10px 10px 0 0;
    /*-moz-border-radius: 10px;
    -webkit-border-radius: 10px; */
}


.hmenu li ul /* Всплывающее меню (нормально спрятанное)*/
{ 
    display: none; 
    margin-top: 1px;
    margin-left: -16px;
    padding: 7px 0px 7px;
    border-radius: 0px 10px 10px 10px;
    /*border: 1px solid #C0EFEF;*/

}

.hmenu li:hover > ul /* Всплывающее меню (показанное)*/
{
	-webkit-padding-start: 0px;
	/*float: top;*/
    /*background: #06512A;*/
    /*margin: 5px;*/
    display: block;   
	position:absolute;
}

.hmenu li ul li /* Пункты подменю */
{
	min-width: 120px;
}

.hmenu li ul li
{
    padding-left: 3ex;
}

.hmenu li ul li.checked
{
    padding-left: 1ex;
    min-width: calc(120px + 2ex);
}

.hmenu li ul li.checked:before
{
    content: "\2714";
}

.hmenu li ul li:hover
{
    /*background: #C0EFEF; */
    border-radius: 0;
}

.hmenu li ul li ul/* Всплывающее меню (нормально спрятанное)*/
{ 
    /*margin: 0px;*/
    display: none; 
    margin-top: -2em;
    margin-left: 120px;
    padding: 7px 0px 7px;
    border-radius: 10px 10px 10px 10px;
}

.dialog
{
    border-radius: 10px 10px 10px 10px;
}

.dialog > div, .group > div
{
    padding: 10px;  
}

.dialog h1, .group h1
{
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(to top, rgba(153, 191, 195, 0.7), rgba(207, 248, 240, 0.7));
    text-align: center;
    margin: 0;
    font-size: 20px;
}


button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .6em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
button:hover {
	text-decoration: none;
}
button:active {
	position: relative;
	top: 1px;
}

.combobox
{
    height: 20px;
}

.combobox ul, .combobox select
{
    margin: 0;
    /*margin-left: -150;*/
    width: 100%;
    position: relative;
    z-index: 25;
}

.combobox ul, .combobox input
{
    position: relative;
    top: -23px;
    z-index: 30;
}

.combobox ul li
{
    list-style-type: none;
}

.combobox a:active ul
{
    display: block;
}

.combobox button
{
    display: inline-block;
    outline: none;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Arial, Helvetica, sans-serif;
    padding: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    -webkit-border-radius: .5em; 
    -moz-border-radius: .5em;
    border-radius: .6em;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);  
}
